<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <center>
    <h3>Here's your music sheet! </h3>
    <img src="<%=@the_music%>" width="500" height "700">
    <!--<%=@the_music%>-->
    <br>
    <h4>Check out these websites if you're interested in this piece!</h4>
    <a href="http://toplayalong.com/instrument/violin/">toplayalong.com</a>
    <a href="https://musopen.org/">musopen.org</a>
    <a href="https://www.jwpepper.com/sheet-music/orchestra-music.jsp">jwpepper.com</a>
    <a href="https://musescore.org/">musescore.org</a>
   </p>
   
   
  </center></body>
</html>